manifest {
    name = 'ctcfexplorer-nextflow-test'
    author = 'OpenAI Codex'
    homePage = 'https://github.com/zang-lab/CTCFexplorer'
    description = 'Download SRR accessions, process CTCF ChIP-seq, and build union peak sets.'
    version = '0.1.0'
}

params {
    srr_list = null
    outdir = "${launchDir}/results"
    stub_read_count = 1000000
    synthetic_mode = false
    synthetic_reference_fasta = null
    synthetic_read_count = 1000000
    synthetic_read_length = 75

    bowtie2_index = null
    blacklist_bed = null

    mapq = 30
    macs_cmd = 'macs3'
    macs2_extsize = 146
    macs2_genome_size = 'hs'
    macs2_qvalue = 0.01

    union_width = 150
    occupancy_width = 50
    union_fe_cutoff = 4.0
    high_confidence_min_samples = 2
    constitutive_min_fraction = 1.0

    queue = 'standard'
    account = null
}

process {
    executor = 'local'
    errorStrategy = 'terminate'
    shell = ['/bin/bash', '-euo', 'pipefail']

    withLabel: download {
        cpus = 8
        memory = '32 GB'
        time = '12h'
    }

    withLabel: qc {
        cpus = 4
        memory = '8 GB'
        time = '4h'
    }

    withLabel: align {
        cpus = 8
        memory = '80 GB'
        time = '24h'
    }

    withLabel: peak {
        cpus = 8
        memory = '32 GB'
        time = '8h'
    }

    withLabel: signal {
        cpus = 2
        memory = '16 GB'
        time = '8h'
    }

    withLabel: aggregate {
        cpus = 2
        memory = '16 GB'
        time = '4h'
    }
}

profiles {
    local {
        process {
            executor = 'local'
            withLabel: download {
                cpus = 2
                memory = '8 GB'
                time = '4h'
            }
            withLabel: qc {
                cpus = 2
                memory = '4 GB'
                time = '2h'
            }
            withLabel: align {
                cpus = 2
                memory = '8 GB'
                time = '8h'
            }
            withLabel: peak {
                cpus = 2
                memory = '8 GB'
                time = '4h'
            }
            withLabel: signal {
                cpus = 1
                memory = '4 GB'
                time = '2h'
            }
            withLabel: aggregate {
                cpus = 1
                memory = '4 GB'
                time = '2h'
            }
        }
    }

    slurm {
        process.executor = 'slurm'
        process.queue = params.queue
        if (params.account) {
            process.clusterOptions = "--account=${params.account}"
        }
    }
}

timeline {
    enabled = true
    file = "${params.outdir}/pipeline_info/timeline.html"
}

report {
    enabled = true
    file = "${params.outdir}/pipeline_info/report.html"
}

trace {
    enabled = true
    file = "${params.outdir}/pipeline_info/trace.txt"
}

dag {
    enabled = true
    file = "${params.outdir}/pipeline_info/dag.html"
}
