<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title or 'CTCF Explorer 2026' }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
  <header>
    <h1><a href="{{ url_for('index') }}">CTCF Explorer 2026</a></h1>
    <nav>
      <a href="{{ url_for('index') }}">Home</a>
      <a href="{{ url_for('available_celltypes') }}?species=human">Cell Types</a>
      <a href="{{ url_for('download_page') }}">Download</a>
      <a href="{{ url_for('help_page') }}">Help</a>
      <a href="{{ url_for('contact') }}">Contact</a>
    </nav>
  </header>

  <main>
    {% block content %}{% endblock %}
  </main>
  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2026 Chongzhi Zang Lab at the University of Virginia</p>
  </footer>
</body>
</html>
