<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Shengyuan Wang">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <style>
        h4 {
            color: #063970;
        }
        .highlight {
            font-weight: bold;
        }
        .section-spacing {
            margin-top: 30px; /* Extra space between High-confidence and Constitutive sections */
        }
    </style>
  </head>

  <body class="bg-light">
    {% include "header.html" %}

    <div class="container my-5">
        <div class="py-3">
          <h4 class="mt-4 highlight">Download</h4>

          <h4 class="mt-4 highlight">Human</h4>
          <ul>
            <li>
              <span class="highlight">531,851 high-confidence CTCF binding sites</span>
              <ul>
                <li><a href="{{ url_for('static', filename='data/human/human_high_confidence.csv') }}" download="human_high_confidence_CTCF_binding.csv">CSV format with annotation</a></li>
                <li><a href="{{ url_for('static', filename='data/human/human_high_confidence.bed') }}" download="human_high_confidence_CTCF_binding.bed">BED format</a></li>
              </ul>
            </li>
          </ul>
          <ul class="section-spacing">
            <li>
              <span class="highlight">24,614 constitutive CTCF binding sites</span>
              <ul>
                <li><a href="{{ url_for('static', filename='data/human/human_constitutive.csv') }}" download="human_constitutive_CTCF_binding.csv">CSV format with annotation</a></li>
                <li><a href="{{ url_for('static', filename='data/human/human_constitutive.bed') }}" download="human_constitutive_CTCF_binding.bed">BED format</a></li>
              </ul>
            </li>
          </ul>
          <ul class="section-spacing">
            <li>
              <span class="highlight">List of 2,097 collected CTCF ChIP-seq datasets</span>
              <ul>
                <li><a href="{{ url_for('static', filename='data/human/human_datasets_summary.csv') }}" download="human_datasets_summary.csv">CSV format</a></li>
              </ul>
            </li>
          </ul>

          <h4 class="mt-4 highlight">Mouse</h4>
          <ul>
            <li>
              <span class="highlight">297,825 high-confidence CTCF binding sites</span>
              <ul>
                <li><a href="{{ url_for('static', filename='data/mouse/mouse_high_confidence_w_annotation.csv') }}" download="mouse_high_confidence_CTCF_binding.csv">CSV format with annotation</a></li>
                <li><a href="{{ url_for('static', filename='data/mouse/mouse_high_confidence.bed') }}" download="mouse_high_confidence_CTCF_binding.bed">BED format</a></li>
              </ul>
            </li>
          </ul>
          <ul class="section-spacing">
            <li>
              <span class="highlight">14,925 constitutive CTCF binding sites</span>
              <ul>
                <li><a href="{{ url_for('static', filename='data/mouse/mouse_constitutive.csv') }}" download="mouse_constitutive_CTCF_binding.csv">CSV format with annotation</a></li>
                <li><a href="{{ url_for('static', filename='data/mouse/mouse_constitutive.bed') }}" download="mouse_constitutive_CTCF_binding.bed">BED format</a></li>
              </ul>
            </li>
          </ul>
          <ul class="section-spacing">
            <li>
              <span class="highlight">List of 1,345 collected CTCF ChIP-seq datasets</span>
              <ul>
                <li><a href="{{ url_for('static', filename='data/mouse/mouse_datasets_summary.csv') }}" download="mouse_datasets_summary.csv">CSV format</a></li>
              </ul>
            </li>
          </ul>
        </div>
    </div>

    {% include "footer.html" %}

    <!-- Local JS files -->
    <script src="{{ url_for('static', filename='js/jquery-3.7.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper-1.14.3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
  </body>
</html>
